<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-logo">
        <img class="logo-img" src="/images/rumtibet-img.png" alt="">
        <h1 class="logo-text">РУМТИБЕТ</h1>
      </div>
      <nav class="header-nav">
          <a>Главная</a>
          <a>Про гида</a>
          <a>Программа тура</a>
          <a>Стоимость</a>
          <a>Блог</a>
          <a>Контакты</a>
      </nav>
      <button>Консультация</button>
    </div>
  </div>
  <section class="header-main">
    <h1 class="header-main-title">Насладись прогулкой в горах
    с командой единомышленников</h1>
    <div class="selection-container">
      <div class="selection">
        <select name="" id="" class="selection-field white-text">
          <option value="">Локация для тура</option>
        </select>
        <label for="">выберите из списка</label>
      </div>
      <div class="selection">
        <input type="date" data-placeholder="Дата похода" class="selection-field selection-date date-placeholder-text" required>
        <label for="">укажите дату</label>
      </div>
      <div class="selection">
        <select name="" id="" class="selection-field white-text">
          <option value="">Участники</option>
        </select>
        <label for="">выберите из списка</label>
      </div>
      <button class="find-program-button white-text">Найти программу</button>
    </div>
  </section>
</header>